# Aimelia Frontend Environment Variables
NEXT_PUBLIC_API_BASE_URL=https://aimelia-api.onrender.com
NEXT_PUBLIC_CLIENT_ID=880818f6-a9af-43ea-9c12-1813bcecce89
NEXT_PUBLIC_TENANT_ID=0cf82021-6ddc-4fae-987a-d29ef04d571a
